<section class="Homegrown">
    <div class="container">
        <div>
            <h5>HOMEGROWN INDIAN BRAND</h5>
        </div>
        <div>
            <h5>OVER 100K HAPPY CUSTOMERS</h5>
        </div>
    </div>
</section>