<!-- HEADER SECTION -->
<header class="header">
    <div class="header-1">
        <a href="/" class="logo"><i class="fa-brands fa-foursquare fa-beat"></i>ashi&#xf8;&#x014B; View</a>
        <form action="" class="search-form">
            <input type="search" name="" placeholder="Search here....." id="search-box">
            <label form="search-box" class="fas fa-search"></label>
        </form>
        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <a href="#" class="fas fa-heart" id="wishListNavBtn"></a>
            <a href="/cart" class="fas fa-shopping-cart"></a>
            <a href="/user/login" class="fas fa-user"></a>
        </div>
    </div>
</header>
<!-- HEADER SECTION ENDS -->