<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Insert Product</title>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Signika+Negative:wght@300..700&display=swap");

    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      font-family: "Nunito", sans-serif;
      margin: 0;
      padding: 0;
      background: url('/images/keagan-henman-xPJYL0l5Ii8-unsplash.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin: 3% 15%;
      /* background: #fff; */
      backdrop-filter: blur(13px);
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    form div {
      margin: 0 10px;
    }

    label {
      font-weight: bold;
      color: #090808;
    }

    input,
    textarea,
    select,
    button {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 14px;
    }

    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
      border-color: #3498db;
      box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    }

    button {
      background-color: #3498db;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 16px;
      grid-column: span 2;
    }

    button:hover {
      background-color: #2980b9;
    }

    .form-header {
      grid-column: span 2;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: #333;
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <form action="/Insert" method="post" enctype="multipart/form-data">
    <div class="form-header">Insert New Product</div>
    <div>
      <label for="">Product Name</label>
      <input type="text" name="Product_Name"><br>
    </div>
    <div>
      <label for="">Product Size Type</label>
      <input type="text" name="Product_Size_Type"><br>
    </div>
    <div>
      <label for="">Product Category</label>
      <select name="Product_Category" id="">
        <option value="">--Select Category--</option>
        <option value="Women">Women</option>
        <option value="Men">Men</option>
      </select><br>
    </div>
    <div>
      <label for="">Product Type</label>
      <select name="Product_Type" id="">
        <option value="">--Select Category--</option>
        <option value="Tops">Tops</option>
        <option value="Shirts">Shirts</option>
        <option value="Sneakers">Sneakers</option>
        <option value="Jeans">Jeans</option>
        <option value="Oversized T-Shirts">Oversized T-Shirts</option>
        <option value="T-Shirts">T-Shirts</option>
      </select><br>
    </div>
    <div>
      <label for="">Product Price</label>
      <input type="number" name="Product_Price"><br>
    </div>
    <div>
      <label for="">Product CutPrice</label>
      <input type="number" name="Product_CutPrice"><br>
    </div>
    <div>
      <label for="">Select Product Images</label>
      <input type="file" name="imgPath" multiple><br>
    </div>
    <div>
      <label for="">Product Sizes</label>
      <input type="text" name="Product_Sizes"><br>
    </div>
    <div>
      <label for="">Product Stock</label>
      <input type="text" name="Product_Stock"><br>
    </div>
    <div>
      <label for="">Product Description</label>
      <textarea name="Product_Description" id="" maxlength="300"></textarea><br>
    </div>
    <button type="submit">Submit</button>
    <p><% if (locals.msg) { %>
      <%= msg %>
      <% } %></p>
  </form>
</body>

</html>