<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>This is home page</h1>

    <% if (locals.users) { %>
        <table>
            <thead>
                <th>S.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
            </thead>
            <tbody>
                <% users.forEach((user, index)=> { %>
                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.password %></td>
                    </tr>
                <% }) %>
            </tbody>

        </table>
    <% } %>
</body>

</html>