<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background:url('/images/keagan-henman-xPJYL0l5Ii8-unsplash.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    </style>
</head>

<body>

    <div class="signup-container">
        <h2>Login</h2>
        <form action="/user/login" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter Your Email..." required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter Your Password..." required>
            <a href="#" class="forgot-password">Forgot password?</a>
            <button type="submit">Login</button>
            <a href="/user/signup" class="signup-link" id="#signup-link">signup</a>
        </form>
        <p>
            <% if (locals.msg) { %>
                <%= msg %>
                    <% } %>
        </p>
    </div>
    <!-- <div class="login-container" id="Login-Container">
        <h2>Login</h2>
        <form action="/user/login" method="post">
            <div class="input-group">
                <label for="email"><i class='bx bxs-envelope'></i> Email</label>
                <input type="text" name="email" placeholder="  Enter your email...">
            </div>
            <div class="input-group">
                <label for="password"><i class='bx bxs-lock-alt'></i> Password</label>
                <input type="password" name="password" placeholder="  Enter your password...">
            </div>
            <button type="submit" class="login-button">Login</button>
            <% if (locals.msg) { %>
                <p class="warning">
                    <%= msg %>
                </p>
                <% } %>
                    <p>Login With</p>
                    <div class="social-login">
                        <a href="#"><i class='bx bxl-facebook-circle bx-tada' style='color:#1877F2'></i></a>
                        <a href="#"><i class='bx bxl-twitter bx-tada' style="color: #1DA1F2;"></i></a>
                        <a href="#"><i class='bx bxl-google bx-tada' style="color:red"></i></a>
                    </div>
                    <a href="/user/signup" class="login-link">Sign Up</a>
        </form>
    </div> -->
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script>-->

    <script src="js/app.js"></script>

</body>

</html>