<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">

    <!-- Boxicon icons link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="jquery-3.7.1.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #667eea, #764ba2);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        .login-container {
            background: #fff;
            padding: 20px 40px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 100%;
            max-width: 400px;
            /* margin: 5% 35%; */
        }

        .login-container h2 {
            margin-bottom: 20px;
            font-size: 24px;
        }

        .input-group {
            margin-bottom: 15px;
            text-align: left;
        }

        .input-group label {
            font-size: 14px;
            color: #333;
        }

        .input-group input {
            width: 100%;
            padding: 10px 3px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .input-group i {
            margin-right: 5px;
        }

        .forgot-password {
            display: block;
            margin-bottom: 20px;
            text-align: right;
            color: #666;
            text-decoration: none;
        }

        .login-button {
            background: linear-gradient(90deg, #667eea, #764ba2);
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            width: 100%;
            cursor: pointer;
            font-size: 16px;
            margin-bottom: 20px;
        }

        .social-login {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .social-login a {
            color: #333;
            font-size: 24px;
            margin: 0 10px;
            text-decoration: none;
        }

        .signup-link {
            color: #333;
            text-decoration: none;
            font-size: 14px;
        }

        .signup-link:hover {
            text-decoration: underline;
        }

        .warning {
            font-size: 12px;
            transition: 2s;
        }
    </style>
</head>

<body>
    <div class="login-container" id="Login-Container">
        <h2>Login</h2>
        <form action="/user/login" method="post">
            <div class="input-group">
                <label for="email"><i class='bx bxs-envelope'></i> Email</label>
                <input type="text" name="email" placeholder="  Enter your email...">
            </div>
            <div class="input-group">
                <label for="password"><i class='bx bxs-lock-alt'></i> Password</label>
                <input type="password" name="password" placeholder="  Enter your password...">
            </div>
            <a href="#" class="forgot-password">Forgot password?</a>
            <button type="submit" class="login-button">Login</button>
            <% if (locals.msg) { %>
                <p class="warning">
                    <%= msg %>
                </p>
                <% } %>
                    <p>Login With</p>
                    <div class="social-login">
                        <a href="#"><i class='bx bxl-facebook-circle bx-tada' style='color:#1877F2'></i></a>
                        <a href="#"><i class='bx bxl-twitter bx-tada' style="color: #1DA1F2;"></i></a>
                        <a href="#"><i class='bx bxl-google bx-tada' style="color:red"></i></a>
                    </div>
                    <a href="/user/signup" class="login-link">Sign Up</a>
        </form>
    </div>
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script>-->

    <script src="js/app.js"></script>

</body>

</html>