@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Signika+Negative:wght@300..700&display=swap");

:root {
  /* --main-color: #ede8f5; */
  --snd-color: #f0f3f2;
  --heading-color: #43187e;
  --heading-font: "Montserrat", sans-serif;
  --box-shadow: 0 0.5rem 1rem #0000001a;
  --basic-font: "Nunito", sans-serif;
  --black: #000000;
  --text-color: rgb(0, 0, 0);
  --normal-border: 1px solid var(--text-color);
}
/* Remove the arrows for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: none;
  text-transform: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--black);
}

body {
  background: var(--main-color);
}

.container {
  margin-bottom: 2.5rem;
}

p,
span {
  font-family: var(--basic-font);
  font-weight: 700;
}

/* HEADER SECTION CSS STARTS */
.heading {
  font-size: 3.5em;
  text-align: center;
  padding-bottom: 2rem;
  position: relative;
  font-family: var(--heading-font);
  font-weight: 500;
  color: var(--text-color);
}

.header .header-1 {
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0.5rem 9%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--normal-border);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(8px);
}

.header .header-1 .logo {
  font-size: 3.5rem;
  font-weight: 400;
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-family: "Signika Negative", sans-serif;
}

.header .header-1 .search-form {
  width: 50rem;
  height: 4rem;
  border: 2px solid var(--text-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.header .header-1 .search-form input {
  font-size: 1.6rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--black);
}

.header .header-1 .search-form label {
  font-size: 2.5rem;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--snd-color);
  padding: 1rem 0.5rem;
}

.header .header-1 .search-form label:hover {
  color: var(--heading-color);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
  font-size: 2.5rem;
  margin-left: 1.8rem;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.4s;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
  color: var(--heading-color);
}

#search-btn {
  display: none;
}
/* HEADER SECTION CSS ENDS */

/* SLIDESHOW SECTION CSS STARTS */
.mySlides {
  display: none;
  width: 100%;
}

.mySlides img {
  width: 100%;
}

.slideshow-container {
  margin-top: 5.3rem;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activate {
  background-color: var(--text-color);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* SLIDESHOW SECTION CSS ENDS */

/* SERVICES SECTION CSS STARTS */
.services {
  width: 100%;
}

.services img {
  width: 100%;
  height: 100%;
}
/* SERVICES SECTION CSS ENDS */

.wishListBar {
  background-color: whitesmoke;
  width: 31vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: -200%;
  z-index: 200;
  transition: .8s;
  backdrop-filter: blur(20px);
}
.wishListBarHeading{
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
}
.wishListBar a{
  font-size: 3.5rem;
  padding: 0 4%;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.4s;
}
.wishListBar h1{
  font-size: 3rem;
  padding: 0 6%;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.4s;
  font-family: var(--heading-font);
}

.wishListBar .wishListItemsDiv {
  width: 94%;
  margin: 1% 3%;
  border: 2px solid black;
}

.wishListItemsInnerDiv1 {
  width: 30%;
  border: 2px solid red;
}

.wishListItemsInnerDiv1 img {
  width: 100%;
}

/* CATEGORY SECTION CSS STARTS */
.category-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  margin: 0 20%;
  overflow: hidden;
}

.category-container .categories-divs {
  position: relative;
  display: flex;
  overflow: hidden;
}

.categories-divs img {
  transition: 0.4s ease;
  overflow: hidden;
}

.categories-divs:hover img {
  transform: scale(1.1);
}

.categories-divs .img-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.women-class {
  left: 13%;
  top: 20%;
}
.men-class {
  left: 15%;
  top: 20%;
}

.categories-divs .img-text h3 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 2.8rem;
  color: black;
}

.categories-divs .img-text p {
  font-family: var(--basic-font);
  font-size: 1.3rem;
  color: black;
}
/* CATEGORY SECTION CSS ENDS */

/* MARQUEE SECTION CSS STARTS */
marquee {
  background: var(--snd-color);
  color: black;
  font-size: 2rem;
  font-family: var(--heading-font);
  padding: 1rem 0;
  word-spacing: 1rch;
  white-space: nowrap;
}
/* MARQUEE SECTION CSS ENDS */

/* ARRIVALS SECTION CSS STARTS */
.splide__slide img {
  width: 100%;
  transition: 0.5s;
  cursor: pointer;
}

.splide__slide img:hover {
  transform: scale(1.1);
}

.img_box {
  overflow: hidden;
}

.splide__slide p {
  font-size: 2rem;
  text-align: center;
  padding: 0.8rem;
  color: whitesmoke;
  background-color: #000000;
}
/* ARRIVALS SECTION CSS ENDS */

/* NEWSLETTER SECTION CSS STARTS */
.newsletter {
  background: url("/images/pexels-pixabay-413885.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.newsletter form {
  max-width: 45rem;
  font-family: var(--basic-font);
  text-align: center;
  padding: 8rem 3rem;
  margin-left: 4rem;
}

.newsletter form h3 {
  font-size: 2.2rem;
  color: #000000;
  padding-bottom: 0.7rem;
  font-weight: normal;
}

.newsletter form .box {
  width: 100%;
  margin: 0.7rem 0;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: var(--black);
  border-radius: 0.5rem;
  text-transform: none;
}

.btn {
  margin-top: 1rem;
  font-size: 2rem;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--heading-color);
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
}
/* NEWSLETTER SECTION CSS ENDS */

/* HOMEGROWN SECTION CSS STARTS */
.Homegrown {
  margin: 2.5rem 0;
  width: 100%;
}

@keyframes typingForward {
  from {
    width: 32%;
  }
  to {
    width: 100%;
  }
}

@keyframes typingBackward {
  from {
    width: 170%;
  }
  to {
    width: 100%;
  }
}

.Homegrown div {
  font-family: var(--heading-font);
  text-align: center;
}

.Homegrown .container div:nth-child(1) {
  background-color: var(--heading-color);
  color: white;
}

.Homegrown div:nth-child(1) h5 {
  animation: typingForward 4s forwards 1;
}

.Homegrown div:nth-child(2) h5 {
  animation: typingBackward 4s forwards 1;
}

.Homegrown div h5 {
  font-size: 3rem;
  padding: 0.5rem 0;
}
/* HOMEGROWN SECTION CSS ENDS */

/* FOOTER SECTION CSS STARTS */
footer {
  background-color: #f0f3f2;
}

footer .footer {
  margin: 0% 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.footer .links {
  display: flex;
  flex-direction: column;
  font-family: var(--basic-font);
}

.footer .links a {
  font-size: 1.5rem;
  padding: 0.7rem 2.2rem;
  font-weight: 600;
  color: var(--text-color);
}

footer h4 {
  font-size: 2.5rem;
  padding: 1rem 0 1.2rem 2rem;
  font-family: var(--heading-font);
}

footer p {
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 0.7rem 2rem;
}

footer i {
  color: var(--text-color);
  font-size: 1.8rem;
  padding: 0rem 0 1rem 0rem;
}

footer i:nth-child(1) {
  padding-left: 2.5rem;
}

footer img {
  width: 100%;
}

.footer-div a:hover {
  color: #43187e;
}

footer .footer .footer-div:nth-child(4) p {
  padding: 1rem 0;
}
/* FOOTER SECTION CSS ENDS */

/* COPYRIGHT SECTION CSS STARTS */
.copyright {
  background-color: #f0f3f2;
  font-family: var(--heading-font);
  width: 100%;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
}

.copyright p {
  font-weight: 400;
}
/* COPYRIGHT SECTION CSS ENDS */

/* ------------------------------------------------- */

/* SHOP PAGE CSS  */

/* HEADING IMAGE CSS STARTS */
.headingImg {
  width: 100%;
  overflow: hidden;
  margin-top: 5rem;
}
.headingImg img {
  width: 100%;
}
/* HEADING IMAGE CSS ENDS */

.shopMainDiv {
  width: 100%;
  /* display: flex; */
}

/* CATEGORY BAR CSS STARTS  */
.AllCategories {
  width: 70%;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
  margin: 2rem 15%;
  overflow: hidden; 
}
.AllCategories div {
  font-family: var(--heading-font);
  font-size: 1.6rem;
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--heading-color);
  border-radius: 0.2rem;
}

.clicked {
  background-color: var(--heading-color);
  color: white;
}

.active-bar {
  border: 2px solid black;
}
/* CATEGORY BAR CSS ENDS  */

/* PRODUCTS SECTION CSS STARTS  */
.products {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 3rem;
  margin: 3% 8%;
  display: none;
}

.show {
  display: grid;
}

.products .product-divs {
  border: 1px solid rgb(196, 191, 191);
  overflow: hidden;
  transition: 0.2s ease;
  cursor: pointer;
}

.products .product-divs:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.02);
}

.products .product-divs p {
  font-size: 1.4rem;
  padding: 0.3rem 1rem;
  color: rgb(59, 58, 58);
}

.products .product-divs img {
  transition: 0.5s;
  width: 100%;
  border-bottom: 1px solid rgb(196, 191, 191);
}
/* PRODUCTS SECTION CSS ENDS  */

/* ITEMS PAGE CSS START  */

.itemPreview {
  margin-top: 5.4rem;
  /* background-color: red; */
  display: flex;
  width: 100%;
}
.itemPreviewDiv1 {
  width: 60%;
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 2% 2.5%;
}
.itemPreviewDiv1 img {
  cursor: pointer;
  transition: 0.5s;
}
.itemPreviewDiv1 img:hover {
  transform: scale(1.01);
}
.itemPreviewDiv2 {
  width: 40%;
  /* background-color: rgb(38, 0, 255); */
}
.itemPreviewDiv2 h1 {
  font-size: 3rem;
  font-family: var(--heading-font);
  padding: 3rem 0 0 0;
}
.itemPreviewDiv2 h4 {
  font-size: 1.5rem;
  font-family: var(--basic-font);
  padding: 0 0 2rem 0.2rem;
}
.itemPreviewDiv2 p {
  font-size: 1.4rem;
  font-family: var(--basic-font);
  padding: 0 4rem 3rem 0;
  font-weight: 200;
  line-height: 1.5;
  color: var(--text-color);
}
.itemPreviewDiv2 h3 {
  font-size: 2.3rem;
  font-family: var(--basic-font);
  padding-bottom: 2.5rem;
}
.itemPreviewDiv2 h5 {
  font-size: 1.8rem;
  font-family: var(--basic-font);
  padding-bottom: 2.5rem;
}
.itemPreviewDiv2 h3 span {
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: line-through;
}
.itemPreviewDiv2 button {
  font-size: 1.5rem;
  padding: 1rem 2.2rem;
  margin-right: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  background: none;
  border: 1px solid grey;
  margin-bottom: 2.5rem;
}
.itemPreviewDiv2 button.selected {
  background-color: var(--heading-color);
  color: white;
  border-color: #333;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 2.5rem;
}
.itemPreviewDiv2 .quantity {
  border: 1px solid rgb(70, 70, 70);
  font-size: 1.8rem;
  padding: 0.3rem 0.3rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.itemPreviewDiv2 .cartBtn,
.itemPreviewDiv2 .wishlistBtn {
  border-radius: 0.3rem;
  font-weight: 400;
  color: white;
}
.itemPreviewDiv2 .cartBtn {
  padding: 0.8rem 5rem;
  background-color: var(--heading-color);
}
.itemPreviewDiv2 .wishlistBtn {
  padding: 0.8rem 2rem;
  border: 1px solid var(--heading-color);
  color: var(--heading-color);
}
.itemPreviewDiv2 i {
  color: var(--text-color);
  font-size: 1.8rem;
  padding: 0 0.5rem;
}
.itemPreviewDiv2 .pincodeCheckForm {
  border: 1px solid black;
  width: 70%;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  font-family: var(--basic-font);
  border-radius: 0.3rem;
  margin-bottom: 3rem;
}
.itemPreviewDiv2 form input {
  width: 100%;
  font-size: 1.6rem;
}

/* .itemPreviewDiv2 input{
  border: 1px solid black;
  padding: .5rem 5rem .5rem 1rem;
  font-size: 1.8rem;
} */

/* ITEMS PAGE CSS ENDS  */

/* ------------------------------------------ */

/* SIGN UP PAGE CSS  */
.signup-container {
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.signup-container h2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-family: var(--heading-font);
  color: var(--heading-color);
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container label {
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: var(--basic-font);
  color: var(--text-color);
}

.signup-container input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-container button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: var(--heading-color);
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s;
}

.signup-container button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
}

.forgot-password {
  font-size: 1.2rem;
  text-align: end;
  padding-bottom: 0.5rem;
  color: var(--text-color);
  font-family: var(--basic-font);
  font-weight: 600;
  text-decoration: underline;
}

.signup-container .signup-link {
  font-size: 1.5rem;
  margin-top: 1rem;
  transition: 1s;
  font-family: var(--basic-font);
  font-weight: 600;
  text-decoration: underline;
}

.signup-container p {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  transition: 1s;
}
/* SIGN UP PAGE CSS ENDS */

/* ------------------------------------- */

/* MEDIA QUERY STARTS  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header .header-1 {
    padding: 2rem;
  }

  .slideshow-container {
    margin-top: 8.1rem;
  }
  .products {
    grid-template-columns: repeat(3, 1fr);
    margin: 3% 5%;
    gap: 2rem;
  }
  .headingImg {
    width: 100%;
    overflow: hidden;
    margin-top: 8rem;
  }
  @keyframes typingForward {
    from {
      width: 50%;
    }
    to {
      width: 100%;
    }
  }
  @keyframes typingBackward {
    from {
      width: 170%;
    }
    to {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 0;
  }
  body {
    padding-bottom: 6rem;
  }
  .button-navbar {
    display: block;
  }
  #search-btn {
    display: inline-block;
  }
  .header .header-1 {
    box-shadow: var(--box-shadow);
    position: fixed;
  }
  .header .header-1 .search-form {
    position: absolute;
    top: -115%;
    right: 2rem;
    width: 90%;
    box-shadow: var(--box-shadow);
  }
  .header .header-1 .search-form.active {
    top: 115%;
  }
  .slideshow-container {
    margin-top: 8.1rem;
  }
  .services img {
    scale: 1.11;
  }
  .newsletter {
    background-position: left;
  }
  .newsletter form {
    margin-left: 0;
    max-width: 100%;
  }
  .categories {
    flex-direction: column;
    align-items: center;
  }
  .category-container {
    margin: 0 10%;
    grid-template-columns: repeat(1, 1fr);
  }
  .arrival {
    max-width: 90%;
  }
  .arrivals-div {
    grid-template-columns: repeat(2, 1fr);
  }
  footer .footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
    margin: 3% 6%;
    gap: 2rem;
  }
  .AllCategories {
    gap: 0.7rem;
    /* margin: 2rem 10%; */
  }
  .AllCategories a div {
    font-family: var(--heading-font);
    /* font-size: 1.3rem; */
    padding: 0.5rem;
  }
  @keyframes typingForward {
    from {
      width: 88%;
    }
    to {
      width: 100%;
    }
  }
  @keyframes typingBackward {
    from {
      width: 170%;
    }
    to {
      width: 100%;
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .arrivals-div {
    grid-template-columns: repeat(2, 1fr);
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
    margin: 3% 2%;
    gap: 1rem;
  }
  .AllCategories {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;
  }
}

/* MEDIA QUERY ENDS  */
